.sponsors {
    background: #FAFAFA;
    height: 360px;
    width: 100%;
}

.sponsors .sponsors-container {
    width: 1440px;
    max-width: 80%;
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 0 auto;
}

.section-header {
    position: relative;
}

.section-header h3 {
    /* positioning */
    position: absolute;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);

    /* typography */
    font-size: 28px;
    color: #858585;

    /* animation */
    transition: 200ms;
}


.sponsors .sponsors-container .sponsor-logos {
    display: flex;
    flex-wrap: wrap;
}

.sponsors .sponsors-container .sponsor-logo {
    height: 160px;
    margin: 4px auto;
    position: relative;
    width: 300px;
}

.sponsors .sponsors-container .sponsor-logo img {
    /* positioning */
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);

    /* box model */
    max-height: 90%;
    max-width: 90%;
    
    /* typography */
    text-align: center;

    /* animation */
    transition: 200ms;
}

.sponsors .sponsor-logo .buoyr {
    width: 80%;
}

.sponsors .sponsor-logo .dgy {
    width: 58%;
    height: auto;
}

.sponsors .sponsor-logo .kada-kareer {
    height: 90%;
}

@media (max-width: 1024px){
    .sponsors .sponsors-container {
        display:flex;
        flex-direction: column;
    }
    .section-header h3{
        padding-left: 13vh;
    }
}

@media (max-width: 500px){
    .sponsors-container {
        display: flex;
        flex-direction: column;
    }
    .section-header h3{
        position: absolute;
        font-size: 13px;
        padding-left: 6vh;
        margin-top: 20px;
    }
    .sponsor-logos{
        position:relative;
        height: 70%;
        width: 70%;
        display: flex;
        flex-direction: row;
        padding-left: 5vh;
    }
    .sponsor-logo{
        position:absolute;
        height: auto;
        max-width:50%;
    }
    .sponsors .sponsor-logo .kada-kareer {
        height: 50%;
        margin-left: 100px;
    }
}