iframe {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    justify-items: center;
    justify-content: center;
    padding-top: 120px;
}

iframe div {
    width: 100%;
}

  
@media (max-width: 820px) {
    iframe {
        padding-top: 100px;
    }
}

@media (max-width: 820px) {
    iframe {
        padding-top: 80px;
    }
}

@media (max-width: 540px) {
    iframe {
        padding-top: 60px;
    }

}