.about-the-event {
    /* box model */
    height: 400px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0);

    /* visual */
    background: #FFD872;

    /* typography */
    font-family: 'Google Sans';
    font-style: regular;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/googlesans/v36/4UaErENHsxJlGDuGo1OIlL3L8phULjtH.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

.about-the-event h2 {
    font-size: 64px;
    margin: 40px auto;
    max-width: 80%;
    text-align: center;
    width: 1440px;
}

.about-the-event p {
    font-size: 20px;
    margin: 0 auto;
    max-width: 80%;
    width: 1440px;
}