.in-event-hero {
    position: relative;
    height: 90vh;
    max-height: 1100px;
    overflow: hidden;
    /* background:rgb(240, 255, 187); */
    padding-left: 10%;
}

.in-event-hero .colored-bars-2 {
    position: absolute;
    right: -14%;
    bottom: -36%;
    justify-items: bottom;
    z-index: 0;
    height: 115vh;
}

.in-event-hero .colored-bars-2 img {
    position: relative;
    bottom: 0;
    height: 100%;
}

.in-event-hero .event-details {
    width: 720px;
    z-index: 1;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Google Sans';
    font-style: regular;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/googlesans/v36/4UaErENHsxJlGDuGo1OIlL3L8phULjtH.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 200ms;
}

.in-event-hero .event-name {
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 90px;
    margin: 0 auto;   
    width: 95%;
    font-size: 124px;
    font-weight: 600;
    line-height: 1em;
}

.in-event-hero .event-name :nth-child(1) { color: #F44336; }
.in-event-hero .event-name :nth-child(2) { color: #FBBF0E; }
.in-event-hero .event-name :nth-child(3) {color: #66BB6A; }

.in-event-hero .date-of-event {
    margin: 24px auto 0 auto;
    font-size: 36px;
    font-weight: 400;
    width: 95%;
}

.in-event-hero .tagline {
    margin: 16px auto 0 auto;
    font-size: 24px;
    width: 95%;
}

.in-event-hero .btn-container {
    display: flex;
    flex-wrap: wrap;
    /* background: lightblue; */
    margin-top: 36px;
    align-items: center;
}


.in-event-hero .event-details a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;

    width: 204px;
    height: 64px;

    font-size: 24px;
    text-decoration: none;
    color: black;
}


.in-event-hero .event-details .register-btn {
    border: 2px solid #FFD772;
    box-sizing: border-box;
    border-radius: 28px;
    margin-right: 0;
}

.in-event-hero .event-details .learn-more-btn {
    margin-left: 40px;
    text-align: left;
}