.sponsors {
    background: #FAFAFA;
    height: 360px;
    width: 100%;
}

.sponsors .sponsors-container {
    width: 1440px;
    max-width: 80%;
    /* background: rgb(84, 118, 80); */
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 0 auto;
}

.section-header {
    position: relative;
}

.section-header h3 {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    transition: 200ms;
    font-size: 28px;
    color: #858585;
}


.sponsors .sponsors-container .sponsor-logos {
    /* background: rgba(185, 233, 255, 1); */
    display: flex;
    flex-wrap: wrap;
}

.sponsors .sponsors-container .sponsor-logo {
    height: 160px;
    width: 300px;
    /* background: rgb(255, 221, 221); */
    margin: 4px auto;
    position: relative;
}

.sponsors .sponsors-container .sponsor-logo img {
    max-width: 90%;
    max-height: 90%;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    transition: 200ms;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.sponsors .sponsor-logo .buoyr {
    width: 80%;
}

.sponsors .sponsor-logo .dgy {
    width: 58%;
    height: auto;
}

.sponsors .sponsor-logo .kada-kareer {
    height: 90%;
}