nav {
  z-index: 5;
  position: fixed;
  width: 100%;
  top: 0px;

  height: 100px;
  background: #ffffff;
  box-sizing: border-box;
  padding-top: 20px;

  font-family: "Google Sans";
  font-style: regular;
  font-weight: 400;
  font-size: 20px;
  src: url(https://fonts.gstatic.com/s/googlesans/v36/4UaErENHsxJlGDuGo1OIlL3L8phULjtH.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

nav p {
  margin: 0;
}

.nav-menu-whole {
  display: flex;
  text-align: center;
  background: white;
}

.nav-menu {
  list-style: none;
  display: flex;
}

.logo img {
  position: relative;
  height: 100%;
  margin-left: 10vw;
  width: 59px;
  height: auto;
}

.first-three-menu {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 7vw;
}

.nav-item {
  padding-right: 6vw;
}

.nav-learn-more {
  padding-right: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-links {
  text-decoration: none;
  color: #737373;
}

.nav-register-now {
  background: #ffd772;
  border: 2px solid #ffd772;
  box-sizing: border-box;
  border-radius: 25px;
  width: 186px;
  height: 58px;
  left: 158px;
  top: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-links-register {
  text-decoration: none;
  color: #404040;
  align-items: center;
  justify-content: center;
}

.two-last-menu {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 13vw;
}

.fa-bars {
  color: #000;
}

.menu-icon {
  display: none;
  margin-top: 10px;
}

.nav-register-now-mobile {
  display: none;
  padding-right: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-links-register-mobile {
  display: none;
  text-decoration: none;
  color: #737373;
}

@media screen and (max-width: 1024px) {

  nav {
    z-index: 5;
    position: fixed;
    width: 100%;
    top: 0px;
    height: 100px;
    background: #ffffff;
    box-sizing: border-box;
    padding-top: 20px;
  
    font-family: "Google Sans";
    font-style: regular;
    font-weight: 400;
    font-size: 20px;
    src: url(https://fonts.gstatic.com/s/googlesans/v36/4UaErENHsxJlGDuGo1OIlL3L8phULjtH.woff2)
      format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

  .logo img {
    position: relative;
    height: 100%;
    margin-left: 10vw;
    width: 49px;
    height: auto;
  }
  
  .NavBarItems {
    position: relative;
    position: fixed;

}

@media screen and (max-width: 1024px) {
  .NavBarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0;
  }
  
  .first-three-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .two-last-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .nav-menu.active {
    background: #ffffff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding-bottom: 20px;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    /* background-color: #ffd772; */
    text-decoration: underline;
    color: black;
    transition: 250ms;
  }

  .nav-links-register-mobile {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    background-color: #ffd772;
    color: black;
    border-radius: 25px;
  }

  .nav-links-register-mobile:hover {
    text-decoration: underline;
  }

  .nav-register-now {
    display: none;
  }

  .nav-item {
    width: 50vw;
  }

  .nav-learn-more {
    width: 50vw;
  }

  .nav-register-now-mobile {
    width: 50vw;
    background-color: #ffd772;
    width: 100%;
    height: auto;
    border-radius: 0;
    text-decoration: underline;
    color: black;
    background-size: auto;
  }

  .nav-register-now {
    background-color: transparent;

    border: none;
    height: 100%;
    /* padding: 0; */
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* width: 186px;
    height: 58px;
    left: 158px;
    top: 0px; */
    /* padding: 30px; */
    display: none;
  }

  .nav-links-register {
    color: #737373;
    padding: 32px;
    
  }

  .nav-links-register:hover {
    color: black;
  }

  .nav-register-now:hover {
    background-color: #ffd772;
    border-radius: 0;
    text-decoration: underline;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {

  nav {
    z-index: 5;
    position: fixed;
    width: 100%;
    top: 0px;
    height: 100px;
    background: #ffffff;
    box-sizing: border-box;
    padding-top: 20px;
  
    font-family: "Google Sans";
    font-style: regular;
    font-weight: 400;
    font-size: 20px;
    src: url(https://fonts.gstatic.com/s/googlesans/v36/4UaErENHsxJlGDuGo1OIlL3L8phULjtH.woff2)
      format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

  .logo img {
    position: relative;
    height: 100%;
    margin-left: 10vw;
    width: 39px;
    height: auto;
  }
  
  .NavBarItems {
    position: relative;
    position: fixed;
  }

  .fa-times {
    font-size: 1.5rem;
  }

  .fa-bars {
    font-size: 1.5rem;
  }
  

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0;
    
  }
  .first-three-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .two-last-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .nav-menu.active {
    background: #ffffff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding-bottom: 20px;
  }

  .nav-links {
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
    font-size: 1.2rem;
    margin: 0px;
  }

  .nav-links:hover {
    /* background-color: #ffd772; */
    text-decoration: underline;
    color: black;
    transition: 250ms;
  }

  .nav-links-register-mobile {
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    display: table;
    background-color: #ffd772;
    color: black;
    border-radius: 25px;
    font-size: 1.2rem;
  }

  .nav-links-register-mobile:hover {
    text-decoration: underline;
  }

  .nav-register-now {
    display: none;
  }

  .nav-item {
    width: 50vw;
  }

  .nav-learn-more {
    width: 50vw;
  }

  .nav-register-now-mobile {
    width: 30vw;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    margin-right: 40px;
  }
}

@media screen and (max-width: 500px) {

  nav {
    z-index: 5;
    position: fixed;
    width: 100%;
    top: 0px;
    height: 100px;
    background: #ffffff;
    box-sizing: border-box;
    padding-top: 20px;
  
    font-family: "Google Sans";
    font-style: regular;
    font-weight: 400;
    font-size: 20px;
    src: url(https://fonts.gstatic.com/s/googlesans/v36/4UaErENHsxJlGDuGo1OIlL3L8phULjtH.woff2)
      format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

  .logo img {
    position: relative;
    height: 100%;
    margin-left: 10vw;
    width: 29px;
    height: auto;
  }

  .fa-times {
    font-size: 1rem;
  }

  .fa-bars {
    font-size: 1rem;
  }
  
  .NavBarItems {
    position: relative;
    position: fixed;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0;
    
  }
  .first-three-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .two-last-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .nav-menu.active {
    background: #ffffff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding-bottom: 20px;
  }

  .nav-links {
    text-align: center;
    padding: 0.8rem;
    width: 100%;
    display: table;
    font: 0.5rem
  }

  .nav-links:hover {
    /* background-color: #ffd772; */
    text-decoration: underline;
    color: black;
    transition: 250ms;
  }

  .nav-links-register-mobile {
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    display: table;
    background-color: #ffd772;
    color: black;
    border-radius: 25px;
  }

  .nav-links-register-mobile:hover {
    text-decoration: underline;
  }

  .nav-register-now {
    display: none;
  }

  .nav-item {
    width: 40vw;
  }

  .nav-learn-more {
    width: 40vw;
  }

  .nav-register-now-mobile {
    width: 40vw;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    font-size: 0.5rem;
    margin-top: 20px;
    margin-right: 15px;

  }

}

  @media screen and (max-width: 400px) {

    nav {
      z-index: 5;
      position: fixed;
      width: 100%;
      top: 0px;
      height: 100px;
      background: #ffffff;
      box-sizing: border-box;
      padding-top: 20px;
    
      font-family: "Google Sans";
      font-style: regular;
      font-weight: 400;
      font-size: 20px;
      src: url(https://fonts.gstatic.com/s/googlesans/v36/4UaErENHsxJlGDuGo1OIlL3L8phULjtH.woff2)
        format("woff2");
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
  
    .logo img {
      position: relative;
      height: 100%;
      margin-left: 10vw;
      width: 29px;
      height: auto;
    }
  
    .fa-times {
      font-size: 1rem;
    }
  
    .fa-bars {
      font-size: 1rem;
    }
    
    .NavBarItems {
      position: relative;
      position: fixed;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      position: absolute;
      top: 60px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 0;
      
    }
    .first-three-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 0;
      margin: 0;
    }
  
    .two-last-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 0;
      margin: 0;
    }
  
    .nav-menu.active {
      background: #ffffff;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      padding-bottom: 20px;
    }
  
    .nav-links {
      text-align: center;
      padding: 0.8rem;
      width: 100%;
      display: table;
      font-size: 0.9rem;
    }
  
    .nav-links:hover {
      /* background-color: #ffd772; */
      text-decoration: underline;
      color: black;
      transition: 250ms;
    }
  
    .nav-links-register-mobile {
      text-align: center;
      padding: 0.4rem;
      width: 100%;
      display: table;
      background-color: #ffd772;
      color: black;
      border-radius: 25px;
      font-size: 0.9rem;
      margin-top: 8px;
    }
  
    .nav-links-register-mobile:hover {
      text-decoration: underline;
    }
  
    .nav-register-now {
      display: none;
    }
  
    .nav-item {
      width: 40vw;
    }
  
    .nav-learn-more {
      width: 40vw;
    }
  
    .nav-register-now-mobile {
      width: 40vw;
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      font-size: 0.5rem;
      margin-top: 20px;
      margin-right: 15px;
  
    }
  }